services:

  mongo:
    image: mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

  backend:
    image: shobhit010/mean-backend:latest
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=mongodb://mongo:27017/testdb
    depends_on:
      - mongo

  frontend:
    image: shobhit010/mean-frontend:latest
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
